.page-sidebar-menu{
	background-color: #E37827;
}

.page-sidebar-menu>.nav-item>.nav-link, .page-sidebar-menu>.nav-item>.nav-link>i, .page-sidebar-menu>.nav-item>.nav-link>.arrow{
	color: #fff !important;
}
.sub-menu>.nav-item>.nav-link, .sub-menu>.nav-item>.nav-link>i, .sub-menu>.nav-item>.nav-link>.arrow{
	color: #fff !important;
}
.page-header{
	background-color: #E37827 !important;
}

.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a{
	background-color: #02ADF7;
}

/*.tab-custom>form>.form-body>.nav-tabs>li.active>a, .tab-custom>form>.form-body>.nav-tabs>li.active>a:focus, .tab-custom>form>.form-body>.nav-tabs>li.active>a:hover{
    border-top: 3px solid #02ADF7;
}*/

.font-blue-custom{
	color: #02ADF7 !important;
}

.bdr-round {
    border-radius: 25px !important;
}

.btn.btn-outline.green  {
    border-color: #40bf40 !important;
    color: #40bf40 !important;
}

.btn.btn-outline.green:focus{
	background-color: #40bf40 !important;
	color: #fff !important;
}

.btn.btn-outline.green:hover{
	background-color: #339933 !important;
	color: #fff !important;
}

.btn.green:not(.btn-outline) {
	border-color: #40bf40 !important;
    background-color: #40bf40;
    color: #fff !important;
}

.btn.green:not(.btn-outline):focus {
	background-color: #40bf40 !important;
	color: #fff !important;
}

.btn.green:not(.btn-outline):hover {
	background-color: #339933 !important;
	color: #fff !important;
}

.btn.btn-outline.yellow {
    border-color: #fab750 !important;
    color: #fab750 !important;
}

.btn.btn-outline.yellow:focus {
    background-color: #fab750 !important;
    color: #fff !important;
}

.btn.btn-outline.yellow:hover {
    background-color: #f8a31f !important;
    color: #fff !important;
}

.btn.yellow:not(.btn-outline) {
    color: #fff;
    background-color: #fab750 !important;
    border-color: #fab750 !important;
}

.btn.yellow:not(.btn-outline):focus {
	background-color: #fab750 !important;
	color: #fff !important;
}

.btn.yellow:not(.btn-outline):hover {
	background-color: #f8a31f !important;
	color: #fff !important;
}
.width-115{
	width: 115px;
}
.append-grid1{
	background: rgba(141, 144, 141, 0.15);
	padding: 20px 20px 0px 20px !important;
	margin-bottom: -8px !important;
}

.inputError{
    
    border:2px solid red !important;
}

.margin-bottom{
	margin-bottom: 15px !important;
}

.disp{
	display: none !important;
}

.lastRateRable th,td{
	padding: 5px !important;
}

.lastRateRable{
	margin-right: 15px !important;
}

.lastStockLocationTableDisp th,td{
	padding: 5px !important;
}

.lastStockLocationTableDisp{
	margin-right: 15px !important;
}

.product-error-message{

	background-color: #fbe1e3;
    border-color: #fbe1e3;
    color: #e73d4a;
}